*.sln.docstates
*.user
*.suo
*.userprefs
.vs/
.vscode/
.idea/

bin/
Debug/
Release/
x64/
x86/
*.exe
*.pdb
*.ilk
*.dll
*.lib

*.tlog
*.log
*.obj
*.idb
*.pdb
*.ipdb
*.iobj
*.lastbuildstate
BuildLog.htm

*.vcxproj.user
*.vcxproj.filters.user

*.ipch
*.sdf
*.opensdf
*.opendb
*.db

TestResults/
*.trx

packages/
*.nuget.targets
*.nuget.props

app.config
*.local

Thumbs.db
.DS_Store
desktop.ini
$RECYCLE.BIN/

*.bak
*.backup
*~